.modal-window {
  background-color: black;
  color: white;
  /* position: absolute; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  display: none;
}

.modal-window:target {
  display: block;
}
