/* 
Caja de Línea
  - Ocupan el espacio necesario para mostrar su contenido.
  - No tienen dimensiones modificables (alto, ancho).
  - Permiten otros elementos a su lado.
  - Padding y margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL.
Caja de Bloque
  - Ocupan todo el ancho disponible, lo que genera saltos de línea.
  - Tienen dimensiones modificables (alto, ancho).
  - No permiten otros elementos a su lado (aunque especifique un ancho, siguen ocupando todo el espacio disponible a lo ancho, generando saltos de línea).
*/

.caja-bloque,
.caja-inline {
  background-color: brown;
  border: solid 1.5px blue;
  color: white;
  width: 500px;
  height: 250px;
  padding: 16px; /*No es recomendable aplicar padding vertical a los elementos en linea, porque ocuparia espacio que no le corresponde.*/
}

.caja-bloque {
  margin: 32px;
}

.caja-inline {
  margin: 48px;
}
