.lista li:first-child {
  font-size: 30px;
}

.lista li:last-child {
  color: blue;
}

.lista li:nth-child(2) {
  font-family: "Lucida Sans";
  color: green;
}

.lista li:nth-child(2n) {
  font-size: 20px;
  font-family: "Lucida Sans";
}

.lista li:nth-child(even) {
  background-color: grey;
}

.lista li:nth-child(odd) {
  background-color: blue;
}

.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}

.articulo-pseudoclases p:last-of-type {
  background-color: pink;
}

.articulo-pseudoclases p:nth-of-type(3) {
  background-color: fuchsia;
}

.articulo-pseudoclases *:not(p) {
  background-color: beige;
}
